.img {
  max-width: 26em;
  height: auto;
  position: absolute;
  top: -10em;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.divName {
  position: relative;
  z-index: 10;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}
